<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Onlypogs <br>
        <div class="buttons">
            <!-- <button class="button" id="accButton"><a href="/acc">Account</a></button> -->
            <button class="button" id="rewardButton"><a href="/rewards">Rewards</a></button>
            <button><a href="/pogTable">Pogs</a></button>
        </div>
    </h1>
</body>
</html>